/* HeroDetailComponent's private CSS styles */
h2{
  font-size: 42px;
  color: tomato;
}
button{
  width: 15%;
  font-size: 20px;
  background-color: rgb(9, 147, 211);
  color: white;
  border-style: none;
  border-radius: 5px;
}
button:hover{
  background-color: cadetblue;
}
.content-area{
  color: darkcyan;
  font-size: 22px;
}
.content-area input{
  font-size: 24px;
  color: tomato;
  border-style: none;
}
